[submodule "IGIPortalRegistration"]
	path = IGIPortalRegistration
	url = ../IGIPortalRegistration/
[submodule "IGIPortalLogin"]
	path = IGIPortalLogin
	url = ../IGIPortalLogin/
[submodule "IGIPortalVOManager"]
	path = IGIPortalVOManager
	url = ../IGIPortalVOManager/
